//variables:
// $coolGray: rgb(192, 192, 192);
// $i: rgb(238, 238, 238);
// $header: rgb(64, 246, 246);

.header {
  height: 20vh;
  background-color: $header;
  grid-column: 1/11;
  grid-row: 1/2;
  @include flex(true);
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid $coolGray;
}

.title {
  color: $coolGray;
//   font-size: 2.75em;
  font-size: 3.5em;
  font-weight: 700;
  // margin: 20px;

  span {
    color: $i;
    font-size: 1.8em;
    font-weight: 900;
  }
}
