.authContainer{
    background-color: $background;
    grid-column: 1/11;
    grid-row: 1/11;
    z-index: 2;

    @include flex(true);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h1{
        font-size: 1.5em;
    }

    button{
        @extend .button-style;
        margin: 3em;
        border-radius: 5px;
        font-size: 2em;
        width: 25vw;
        height: 8vh;
    }
}