.reviewsContainer{
    background-color: whitesmoke;
    // margin: 5px;
    overflow: auto;

    grid-row: 7/11;
    grid-column: 3/10;
    grid-gap: 1em;

    .reviewInstance{
        background-color: gray;
        grid-gap: 1em;
        // margin: 10px;
        // padding: 5px;

        .reviewHeader{
            display: flex;
            justify-content: space-between;
            padding: 5px 20px 5px 20px;
        }

        .reviewComment{
            background-color: lightblue;
            overflow: auto;
        }
    }


}