.reviewInstance{
    background-color: gray;
    grid-gap: 1em;
    margin: 10px 25px;
    // padding: 5px;

    .reviewHeader{
        display: flex;
        justify-content: space-between;
        padding: 5px 20px 5px 20px;
    }

    .reviewComment{
        background-color: lightblue;
        overflow: auto;
    }
}


