//variables

$coolGray: #777777;
$i: #f6f6f1;
$header: #b1deca;
$background: #e1ded7;

//mixins

@mixin flex($flex) {
  @if $flex {
    display: flex;
  } @else {
    display: grid;
  }
}

// extenders
.button-style {
  background: $header;
  &:hover {
    background: darken($header, 20%);
    transition: all 0.3s ease;
  }
  &:active {
    background: darken($header, 25%);
  }

  color: darken($coolGray, 10%);
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 8px;
  font-family: "Poiret One", cursive;
  font-size: 1em;
}

.border-radius {
  border-radius: 3px;
}
