@import './reset';
@import './_helpers.scss';
@import './component/Header/_Header.scss';
@import './component/Nav/_Nav.scss';
@import './component/Auth/_Auth.scss';
@import './component/Home/_Home.scss';
@import './component/Home/_BusinessCard.scss';
@import './component/AccountSetup/_AccountSetup.scss';
@import './component/BusinessAccount/_BusinessAccount.scss';
@import './component/CustomerAccount/_CustomerAccount.scss';
@import './component/BusinessInfo/_BusinessInfo.scss';
@import './component/Reviews/_Reviews.scss';
@import './component/CreateReview/_CreateReview.scss';
@import './component/EditReviews/_EditReviews.scss';




.App {
  background-color: cornflowerblue;
  height: 100vh;
  width: 100vw;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  
    .pageContainer{
      background-color: whitesmoke;
      grid-column: 1/11;
      grid-row: 2/11;
      // set up the grid display for everything inside this container
      display: grid;
      grid-template-columns: repeat(10,1fr);
      grid-template-rows: repeat(10, 1fr);
      grid-gap: 1em;
    }
}



